.vagrant
node_modules/
dist/
/.vscode/
/**/test-report.json
/**/.idea
bamboo-specs.iml
salesforce
Vagrantfile
provision.sh
.credentials
/testframework/screenCaptures/
app/security
.env
.sfdx
funny-secrets*
render-acc-ui-*
acc-ui-docker-image.json
__pycache__

# Mac OS X files
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud
