#BUILD=<leave blank in dev, supplied by build to openshift, used for cache busting>
#OPTIONS_LOOKUP_TIMEOUT_MINUTES=<number, defaults to 720 (12 hours), used to cache all the pick list labels etc>
#COST_CAT_TIMEOUT_MINUTES=<number, defaults to 720 (12 hours), used to cache all cost categories>
#PROJ_ROLES_TIMEOUT_MINUTES=<number, defaults to 720 (12 hours), used to cache project roles per user>
#TOKEN_TIMEOUT_MINUTES=<number, defaults to 10, should be set, used to cache salesforce tokens, when expires will automatically request new from salesforce>
#COOKIE_TIMEOUT_MINUTES=<number, defaults to 10, should be set, used to control cookie expiration, when soo enabled and expires will automatically redirect on next request and if still logged in get fresh cookie>
#SALESFORCE_PRIVATE_KEY_FILE=<path string, defaults to /etc/pki/AccPrivateKey.key, used to read key encryting token request to salesforce>
#SHIBBOLETH_PRIVATE_KEY_FILE=<path string, defaults to /etc/pki/AccPrivateKey.key, used to decrypt response from Shiboleth when SSO Saml Request completed>
#LOG_LEVEL=<uppercase string, defaults to ERROR, used to control log level>
#MAX_UPLOAD_FILE_COUNT=<10>
#PRETTY_LOGS=<true/false>
#SALESFORCE_CLIENT_ID=<string, Salesforce connected app id>
#SALESFORCE_CONNECTION_URL=<string, Salesforce connected app url>
#SALESFORCE_PASSWORD=<string, Unused now>
#SALESFORCE_TOKEN=<string, Unused now>
#SALESFORCE_USERNAME=<string, service user account eg iuk.accproject@bjss.com.bjsspoc2>
#SERVER_URL=<url, current server url, used to provide callback for SSO, in dev http://localhost:8080>
#USE_SSO=<true/false, used to enable SSO>
#SSO_PROVIDER_URL=<url, Shibboleth provider url, defaults to https://auth-acc-ifsdev.apps.org-env-0.org.innovateuk.ukri.org/idp/profile/SAML2/Redirect/SSO>
#SSO_SIGNOUT_URL=<url, Shibboleth signout url, defaults to https://acc-ifsdev.apps.org-env-0.org.innovateuk.ukri.org/Logout>
#IFS_ROOT=<url, root url for the IFS site, defaults to https://acc-ifsdev.apps.org-env-0.org.innovateuk.ukri.org>
#NEW_RELIC_APP_NAME=<string, identifier for newrelic>
#NEW_RELIC_LICENSE_KEY=<string, newrelic licence string>
#NEW_RELIC_ENABLED=<true/false, defaults false, whether to run newrelic>
#NEW_RELIC_LOGGING=<info/trace, defaults info, level to log newrelic calls>
#NEW_RELIC_API_KEY=<string, required for health check>
#NEW_RELIC_EVENTS_URL=<string, url for posting app health status>
#COOKIE_KEY=<string>
#OPENSHIFT_BUILD_NAMESPACE<string, name of environment e.g. acc-dev>
#FEATURE_CONTENT_HINT=<true/false>
#SIL_COMPANIES_HOUSE_SEARCH_URL=<string e.g. https://api.sil.uat.innovateuk.ukri.org:443/searchCompany>
#SIL_USERNAME=<string>
#SIL_PASSWORD=<string>