COST_CAT_TIMEOUT_MINUTES=5
PROJ_ROLES_TIMEOUT_MINUTES=5
SALESFORCE_PRIVATE_KEY=<optional_file_path>
SHIBBOLETH_PRIVATE_KEY=<optional_file_path>
LOG_LEVEL=DEBUG
SALESFORCE_CLIENT_ID=<salesforece_connencted_app_client_id>
SALESFORCE_CONNECTION_URL=<salesforece_connencted_app_url>
SALESFORCE_PASSWORD=<salesforece_service_user_password>
SALESFORCE_TOKEN=<salesforece_service_user_token>
SALESFORCE_USERNAME=<salesforece_service_user_username>
SERVER_URL=http://localhost:8080
USE_SSO=false
SSO_PROVIDER_URL=<shibboleth_url>
SSO_SIGNOUT_URL=<shibboleth_signout_url>
NEW_RELIC_APP_NAME="acc-dev-local"
NEW_RELIC_LICENSE_KEY=<newrelic_license_key>
NEW_RELIC_ENABLED=true|false
NEW_RELIC_LOGGING=info|trace
