SALESFORCEPASSWORD=THE_PASSWORD
SALESFORCETOKEN=THE_TOKEN
SALESFORCEUSERNAME=THE_USERNAME

SALESFORCE_CLIENT_ID=THE_CLIENT_ID
SALESFORCE_CONNECTION_URL=THE_SF_URL

SSO_PROVIDER_URL=THE_SSO_URL

SERVER_URL=http://localhost:8080
BUILD=123456