.govuk-table__cell:not(:first-child):not(:last-child),
.govuk-table__header:not(:first-child):not(:last-child) {
  padding: 10px 10px;
}

.govuk-table__row.table__row--edit {
  background: #dee0e2;
}

.govuk-table__row.table__row--error,
.govuk-table__row.table__row--info,
.govuk-table__row.table__row--warning {
  background: #f8f8f8;
  padding: 2% 4% 2% 1%;
}

.govuk-table__row.table__row--info {
  border-left: 5px solid #0b0c0c;
}

.govuk-table__row.table__row--warning {
  border-left: 5px solid #005ea5;
}

.govuk-table__row.table__row--error {
  border-left: 5px solid #b10e1e;
}

.govuk-table__row.table__row--error td:first-child,
.govuk-table__row.table__row--error th:first-child,
.govuk-table__row.table__row--info td:first-child,
.govuk-table__row.table__row--info th:first-child,
.govuk-table__row.table__row--warning td:first-child,
.govuk-table__row.table__row--warning th:first-child {
  padding-left: 1%;
}

.govuk-table__row.table__row--icon {
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.govuk-table__row.table__row--info.table__row--icon {
  background-image: url("/assets/images/icon-edit.png");
}

.govuk-table__row.table__row--info.table__row--icon td:first-child,
.govuk-table__row.table__row--info.table__row--icon th:first-child {
  padding-left: 4%;
}

.govuk-table__header--light .govuk-table__header:not(:first-child) {
  font-weight: 100;
}

.govuk-table__cell div {
  padding-bottom: 4px;
}

.govuk-table__cell div:last-child {
  padding-bottom: 0px;
}

.acc-table__cell-top-border {
  border-top: black 3px solid;
}

.acc-message {
  background-color: #f8f8f8;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border-width: 0 0 0 5px;
  border-style: solid;
  margin: 10px 0 30px 0;
  padding: 20px 10px 20px 30px;
}
.acc-message.govuk-grid-row {
  background-size: 22px 22px;
  border-color: #bfc1c3;
  border-width: 1px 1px 1px 1px;
}

.acc-message__edit {
  background-image: url("/assets/images/icon-edit.png");
}
.acc-message__edit.govuk-grid-row {
  border-color: #bfc1c3 #bfc1c3 #bfc1c3 #0b0c0c;
  border-width: 1px 1px 1px 5px;
}
.acc-message__info {
  background-image: url("/assets/images/icon-info.png");
}
.acc-message__error {
  background-image: url("/assets/images/icon-alert.png");
}

.acc-message__warning {
  background-image: url("/assets/images/icon-warning.png");
}

.acc-message__error.govuk-grid-row {
  border-color: #bfc1c3 #bfc1c3 #bfc1c3 #b10e1e;
  border-width: 1px 1px 1px 5px;
}
.acc-message__success {
  background-image: url("/assets/images/icon-tick.png");
}

.acc-message .govuk-warning-text {
  align-items: center;
  display: inline-flex;
  margin: 0;
}

@media (min-width: 640px) {
  .acc-message {
    background-position: 20px 50%;
    background-size: 20px 20px;
    padding: 20px 20px 20px 60px;
  }

  .acc-message.govuk-grid-row {
    background-size: 30px 30px;
  }
}

.govuk-navigation-arrows {
  font-size: 1.5rem;
  line-height: 1.25;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.govuk-navigation-arrows__button {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  padding: 15px;
}

.govuk-navigation-arrows__button:hover {
  background: #f8f8f8
}

.govuk-navigation-arrows__button__arrow {
  margin-top: 5px;
  margin-right: 10px;
}

.govuk-navigation-arrows__button__label {
  display: inline-flex;
  flex-direction: column;
}

.govuk-navigation-arrows__button__label__category {
  font-size: 1.1rem;
  text-decoration: underline;
}

.govuk-statistics-section {
  display: flex;
  justify-content: space-between;
}

.govuk-statistics-section__details {
  width: 32%;
  text-align: left;
  background: #f8f8f8;
  border: none;
}

.govuk-statistics-section__details--button {
  cursor: pointer;
}


.govuk-statistics-section__details--button--unselected {
  background: none;
  border: 1px solid #6f777b;
}

.govuk-statistics-section__details--button:active {
  border: 5px solid orange;
}

@media (min-width: 1024px) {
  .sticky-col {
    background: #ffffff;
    box-shadow: 1px 1px #bfc1c3;
    position: sticky;
    min-width: 100px;
    width: auto;
  }

  .sticky-col-left-1 {
    left: 0px;
  }

  .sticky-col-right-1 {
    right: 0px;
  }

  .sticky-col-right-2 {
    right: 100px;
  }

  .sticky-col-right-3 {
    right: 200px;
  }
}

.acc-section:last-child {
  margin-bottom: 0!important;
}

/* overriding govuk styles so we always render content so bounding boxes are available */
.js-enabled .acc-accordion__section-content {
  height: 0;
  overflow: hidden;
  padding: 0;
}

.js-enabled .govuk-accordion__section--expanded .acc-accordion__section-content {
  height: auto;
  overflow: auto;
  padding: 15px 0 15px 0;
}