.govuk-table__cell:not(:first-child):not(:last-child),
.govuk-table__header:not(:first-child):not(:last-child) {
  padding: 10px 10px;
}

.govuk-table__row.table__row--warning {
  background: #f8f8f8;
  border-left: 5px solid #005ea5;
  padding: 2% 4% 2% 1%;
}

.govuk-table__row.table__row--warning td:first-child,
.govuk-table__row.table__row--warning th:first-child {
  padding-left: 1%;
}

.govuk-table__row.table__row--info {
  background: #f8f8f8;
  border-left: 5px solid #0b0c0c;
  padding: 2% 4% 2% 1%;
}

.govuk-table__row.table__row--edit {
  background: #dee0e2;
}

.govuk-table__row.table__row--info td:first-child,
.govuk-table__row.table__row--info th:first-child {
  padding-left: 1%;
}

.govuk-table__row.table__row--error {
  background: #f8f8f8;
  border-left: 5px solid #b10e1e;
  padding: 2% 4% 2% 1%;
}

.govuk-table__row.table__row--error td:first-child,
.govuk-table__row.table__row--error th:first-child {
  padding-left: 1%;
}

.govuk-table__row.table__row--error td,
.govuk-table__row.table__row--error th {
  vertical-align: bottom;
}

.govuk-table__header--light .govuk-table__header:not(:first-child) {
  font-weight: 100;
}

.acc-table__cell-top-border {
  border-top: black 3px solid;
}



.acc-message {
  background-color: #f8f8f8;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border-width: 0 0 0 5px;
  border-style: solid;
  margin: 10px 0 30px 0;
  padding: 20px 10px 20px 30px;
}

.acc-message__info {
  background-image: url("/assets/images/icon-info.png");
}
.acc-message__error {
  background-image: url("/assets/images/icon-alert.png");
}
.acc-message__success {
  background-image: url("/assets/images/icon-tick.png");
}

.acc-message .govuk-warning-text {
  align-items: center;
  display: inline-flex;
  margin: 0;
}

@media (min-width: 640px) {
 .acc-message {
   background-position: 20px 50%;
   background-size: 20px 20px;
   padding: 20px 20px 20px 60px;
 }
}

.govuk-navigation-arrows {
  font-size: 1.5rem;
  line-height: 1.25;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.govuk-navigation-arrows__button {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  padding: 15px;
}

.govuk-navigation-arrows__button:hover {
  background: #f8f8f8
}

.govuk-navigation-arrows__button__arrow {
  margin-top: 5px;
  margin-right: 10px;
}

.govuk-navigation-arrows__button__label {
  display: inline-flex;
  flex-direction: column;
}

.govuk-navigation-arrows__button__label__category {
  font-size: 1.1rem;
  text-decoration: underline;
}

