.govuk-table__cell:not(:first-child):not(:last-child),
.govuk-table__header:not(:first-child):not(:last-child) {
  padding: 10px 10px;
}

.govuk-table__row.table__row--warning {
  background: #f8f8f8;
  border-left: 5px solid #005ea5;
  padding: 2% 4% 2% 1%;
}

.govuk-table__row.table__row--warning td:first-child,
.govuk-table__row.table__row--warning th:first-child {
  padding-left: 1%;
}

.govuk-table__row.table__row--info {
  background: #f8f8f8;
  border-left: 5px solid #0b0c0c;
  padding: 2% 4% 2% 1%;
}

.govuk-table__row.table__row--edit {
  background: #dee0e2;
}

.govuk-table__row.table__row--info td:first-child,
.govuk-table__row.table__row--info th:first-child {
  padding-left: 1%;
}

.govuk-table__row.table__row--error {
  background: #f8f8f8;
  border-left: 5px solid #b10e1e;
  padding: 2% 4% 2% 1%;
}

.govuk-table__row.table__row--error td:first-child,
.govuk-table__row.table__row--error th:first-child {
  padding-left: 1%;
}

.govuk-table__row.table__row--error td,
.govuk-table__row.table__row--error th {
  vertical-align: bottom;
}

.govuk-table__header--light .govuk-table__header:not(:first-child) {
  font-weight: 100;
}

.acc-table__cell-top-border {
  border-top: black 3px solid;
}

.acc-accordion {
  border-bottom: 1px solid #bfc1c3;
}
.acc-accordion__section {
  border-top: 1px solid #bfc1c3;
}
.acc-accordion__section-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.acc-accordion__section-header:hover {
  background: #f8f8f8;
}
.acc-accordion__section-panel {
  padding-top: 15px;
  padding-bottom: 15px;
}

