.govuk-summary-card {
  margin-bottom: 20px;
  border: 1px solid #b1b4b6;
}

.govuk-summary-card__title-wrapper {
  padding: 15px;
  border-bottom: 1px solid transparent;
  background-color: #f3f2f1;
}

.govuk-summary-card__title {
  font-family:
    GDS Transport,
    arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin: 5px 20px 10px 0;
}

.govuk-summary-card__content {
  padding: 15px 15px 0;
}

.govuk-summary-card__content .govuk-summary-list__row:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}
