.ifspa-developer-section {
  background-color: beige;
  border-top: 1px solid #b1b4b6;
  padding-top: 15px;
  padding-bottom: 1px;
}

.ifspa-developer-section-select {
  width: 100%;
}

.ifspa-developer-stacktrace .ifspa-developer-stacktrace-stack {
  font-size: 8pt;
}
