/*
 * <App />
*/
html,
body,
#root {
  /* Enforce full height on page nodes and app entrypoint */
  height: 100%;
}

/* FullHeight Components */
.full-height-container {
  display: table;
  width: 100%;
  height: 100%;
}

.full-height-content {
  display: table-row;
  height: 100%;
}

/*
 * Margin Overrides
*/
.margin-bottom-none {
  margin-bottom: 0 !important;
}

.margin-top-neg-sixteen {
  margin-top: -16px !important;
}

/*
 * List Overrides
*/
.govuk-list--plain {
  list-style-type: none;
  padding-left: 0;
}

/* CharacterCount */
.character-count--default {
  color: #6f777b;
}

.character-count--error {
  color: #d4351c;
}

/*
 * Table validation
*/
.highlight--error {
  color: #d4351c;
}
.highlight--info {
  color: #1d70b8;
}

.govuk-table-wrapper {
  overflow-x: auto;
}

.govuk-table__cell:not(:first-child):not(:last-child),
.govuk-table__header:not(:first-child):not(:last-child) {
  padding: 10px 10px;
}

.govuk-table__row.table__row--edit {
  background: #dee0e2;
}

.govuk-table__row.table__row--error,
.govuk-table__row.table__row--info,
.govuk-table__row.table__row--warning {
  padding: 2% 4% 2% 1%;
}

.govuk-table__row.table__row--error,
.govuk-table__row.table__row--info,
.govuk-table__row.table__row--warning,
.govuk-table__row.table__row--error td,
.govuk-table__row.table__row--info td,
.govuk-table__row.table__row--warning td,
.govuk-table__row.table__row--error th,
.govuk-table__row.table__row--info th,
.govuk-table__row.table__row--warning th {
  background: #f8f8f8;
}

.govuk-table__row.table__row--info {
  border-left: 5px solid #0b0c0c;
}

.govuk-table__row td:first-child,
.govuk-table__row th:first-child {
  border-left: none;
}
.govuk-table__row.table__row--warning td:first-child,
.govuk-table__row.table__row--warning th:first-child {
  border-left: 5px solid var(--govukColourBlue);
}

.govuk-table__row.table__row--error td:first-child,
.govuk-table__row.table__row--error th:first-child {
  border-left: 5px solid #b10e1e;
}

.govuk-table__row.table__row--error td:first-child,
.govuk-table__row.table__row--error th:first-child,
.govuk-table__row.table__row--info td:first-child,
.govuk-table__row.table__row--info th:first-child,
.govuk-table__row.table__row--warning td:first-child,
.govuk-table__row.table__row--warning th:first-child {
  padding-left: 1%;
}

.govuk-table__row.table__row--icon {
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.govuk-table__row.table__row--info.table__row--icon {
  background-image: url("/ifspa-assets/images/icon-edit.png");
}

.govuk-table__row.table__row--info.table__row--icon td:first-child,
.govuk-table__row.table__row--info.table__row--icon th:first-child {
  padding-left: 4%;
}

.govuk-table__row--editable td {
  vertical-align: middle;
}

.govuk-table__header--light .govuk-table__header:not(:first-child) {
  font-weight: 100;
}

.govuk-table__cell div {
  padding-bottom: 4px;
}

.govuk-table__cell .govuk-date-input__item .govuk-form-group {
  margin-bottom: 0;
}

.govuk-table__cell div:last-child {
  padding-bottom: 0px;
}

.acc-table__cell-top-border {
  border-top: black 3px solid;
}

.acc-table__cell-right-border {
  border-right: 1px solid var(--govukBorderColour);
}

/* Summary List */
.govuk-summary-list {
  border-collapse: collapse;
}

/* Summary List - IFS-PA Custom styles */
.summary-list__row--error {
  border-left: 5px solid #b10e1e;
  background: #f8f8f8;
}

.summary-list__row--error dt:first-child,
.summary-list__row--error dd:first-child {
  padding-left: 1%;
}

/* Table Sort button Styles */

.table-sort-button,
.table-sort-button:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: var(--govukColourBlue);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
}

.table-sort-button:focus {
  background-color: #fd0;
  color: #0b0c0c;
  box-shadow:
    0 -2px #fd0,
    0 4px #0b0c0c;
  outline: none;
}

.table-sort-button:first-child button {
  right: auto;
}

.table-sort-button:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

.table-sort-button:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort="ascending"] .table-sort-button:before,
[aria-sort="descending"] .table-sort-button:before {
  content: none;
}

[aria-sort="ascending"] .table-sort-button:after {
  content: " \25b2";
  font-size: 0.8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort="descending"] .table-sort-button:after {
  content: " \25bc";
  font-size: 0.8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

.acc-list-item {
  border-style: solid;
  margin: 10px 0 30px 0;
}
.acc-list-item.govuk-grid-row {
  border-color: #bfc1c3;
  border-width: 1px 1px 1px 1px;
}
.acc-list-item__actionRequired {
  background-color: #f8f8f8;
}
.acc-list-item__actionRequired.govuk-grid-row {
  border-color: #bfc1c3 #bfc1c3 #bfc1c3 #0b0c0c;
  border-width: 1px 1px 1px 5px;
}

.acc-message {
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: #f8f8f8;
  border-width: 0 0 0 5px;
  border-style: solid;
  margin: 10px 0 30px 0;
  padding: 20px 10px 20px 30px;
}
.acc-message .govuk-body {
  margin-bottom: 0;
}

.acc-message.govuk-grid-row {
  background-size: 22px 22px;
  border-color: #bfc1c3;
  border-width: 1px 1px 1px 1px;
}

.acc-message__info {
  background-image: url("/ifspa-assets/images/icon-info.png");
}
.acc-message__error {
  background-image: url("/ifspa-assets/images/icon-alert.png");
}
.acc-message__warning {
  background-image: url("/ifspa-assets/images/icon-warning.png");
}
.acc-message__alert {
  background-image: url("/ifspa-assets/images/icon-alert.png");
}
.acc-message__success {
  background-image: url("/ifspa-assets/images/icon-tick.png");
}

.acc-message__error.govuk-grid-row {
  border-color: #bfc1c3 #bfc1c3 #bfc1c3 #b10e1e;
  border-width: 1px 1px 1px 5px;
}

.acc-message .govuk-warning-text {
  align-items: center;
  display: inline-flex;
  margin: 0;
}

@media (min-width: 640px) {
  .acc-message {
    background-position: 20px 50%;
    background-size: 20px 20px;
    padding: 20px 20px 20px 60px;
  }

  .acc-message.govuk-grid-row {
    background-size: 30px 30px;
  }

  .govuk-grid-column--right-align {
    text-align: right;
  }
}

.govuk-navigation-arrows {
  font-size: 1.5rem;
  line-height: 1.25;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.govuk-navigation-arrows__button {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  padding: 15px;
}

.govuk-navigation-arrows__button:hover {
  background: #f8f8f8;
}

.govuk-navigation-arrows__button__arrow {
  margin-top: 5px;
  margin-right: 10px;
}

.govuk-navigation-arrows__button__label {
  display: inline-flex;
  flex-direction: column;
}

.govuk-navigation-arrows__button__label__category {
  font-size: 1.1rem;
  text-decoration: underline;
}

.acc-statistics-section {
  display: flex;
}

.acc-statistics-section__details {
  text-align: left;
  background: #f8f8f8;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.acc-statistics-section__details > div {
  height: 100%;
}

.acc-statistics-section__details--button {
  cursor: pointer;
}

.acc-statistics-section__details--button--unselected {
  background: none;
  border: 1px solid #6f777b;
}

.acc-statistics-section__details--button:active {
  border: 5px solid orange;
}

.acc-section:last-child {
  margin-bottom: 0 !important;
}

/* overriding govuk styles so we always render content so bounding boxes are available */
.js-enabled .acc-accordion__section-content {
  height: 0;
  overflow: hidden;
  padding: 0;
}

.js-enabled .govuk-accordion__section--expanded .acc-accordion__section-content {
  height: auto;
  overflow: auto;
  padding: 15px 0 15px 0;
}

div.card-link-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 0 15px 30px 15px;
}

div.card-link {
  background: #f8f8f8;
}

@media (max-width: 40.0625em) {
  div.card-link-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 40.0625em) {
  div.card-link {
    min-height: 200px;
  }
}

div.card-link > a {
  border-top: 5px solid var(--govukColourBlue);
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
}

div.card-link > a:hover {
  border-top: 5px solid #057ef2;
  background: var(--govukColourBlue);
  color: #fff;
}

div.card-link > a:focus {
  outline: 0px;
}

.card-link__link {
  text-decoration: none;
}

.card-link__title {
  text-decoration: underline;
}

.card-link__message {
  color: #000000;
  font-weight: normal;
}

.card-link a:focus > .card-link__messages > .card-link__message {
  color: #000000;
}

.card-link a:hover > .card-link__messages > .card-link__message {
  color: #ffffff;
}

button.govuk-link {
  color: #1d70b8;
  cursor: pointer;
  text-decoration: underline;
  background-color: inherit;
  border: none;
  box-sizing: unset;
}

button.govuk-link:disabled {
  background-color: transparent;
}

button.govuk-link:focus {
  border-color: #fd0;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 2px 0 #0b0c0c;
}

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .app-task-list {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
}

@media print {
  .app-task-list__section {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__section {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-task-list__section {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.app-task-list__section-number {
  display: table-cell;
}

@media (min-width: 40.0625em) {
  .app-task-list__section-number {
    min-width: 30px;
    padding-right: 0;
  }
}

.app-task-list__items {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
}

@media print {
  .app-task-list__items {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-task-list__items {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    margin-bottom: 60px;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    padding-left: 30px;
  }
}

.app-task-list__item {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-task-list__item--error {
  border-left: 5px solid #d4351c;
  padding-left: 10px;
}

.app-task-list__item:after {
  content: "";
  display: block;
  clear: both;
}

.app-task-list__item:first-child {
  border-top: 1px solid #b1b4b6;
}

.app-task-list__task-name {
  display: block;
}

@media (min-width: 28.125em) {
  .app-task-list__task-name {
    float: left;
  }
}

.app-task-list__task-action {
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (min-width: 28.125em) {
  .app-task-list__task-action {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }
}

.claim-table-cell--error {
  color: #d4351c;
}

p.govuk-body--multiline {
  white-space: pre-line;
}

/* Content */
.content-prompt__icon {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("/ifspa-assets/images/icon-edit.png");
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.content-prompt__icon:hover {
  cursor: pointer;
}

/* Markdown */
.markdown p {
  margin-top: 0px;
  margin-bottom: 20px;
}

.markdown ul {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.markdown li {
  margin-top: 0px;
  margin-bottom: 5px;
}

.markdown p:last-child {
  margin-bottom: 0 !important;
}

/* ClaimDetailsLink */
.claim-details-link-wrapper {
  min-width: 80px;
}

/* Broadcast - Components */

/* Broadcast Detail */
.broadcast-detail p {
  margin-bottom: 5px;
}

.broadcast-detail_value {
  width: auto;
  padding-right: 0;
}

/* Broadcast - Page */
.broadcast {
  display: flex;
  flex-direction: column;
}

.broadcast-highlight {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background: #f3f2f1; /* govuk-colour("light-grey") */
  border: 1px solid #b1b4b6; /* govuk-colour("mid-grey") */
  border-left: 8px solid #5694ca; /* govuk-colour("light-blue") */
}

.broadcast-highlight:hover {
  transition: border 250ms linear;
  border-left-color: #1d70b8; /* govuk-colour("blue") */
}

.broadcast-highlight__link {
  margin-left: 20px;
  hyphens: none;
  white-space: nowrap;
}

/* Loan - Components */
.loan-table_row > td:first-child {
  /* TODO: Get table spacing value */
  padding-left: 10px;
}

.loan-table_row--available > .govuk-table__cell:not(:last-child) {
  /* TODO: Check GDS alignment */
  padding-top: 16px;
}

.loan-table_row--locked {
  /* TODO: Get GDS Colour */
  background-color: #f3f2f1;
}

.loan-table__row--is-editable td {
  vertical-align: middle;
}

.loan-table__cell--error {
  font-weight: bold;
  color: #b10e1e;
}

.loan-table__cell--date-error {
  border-color: #d4351c;
}

.govuk-width-container {
  max-width: 1020px;
}

.acc-height-container {
  display: block;
  max-height: 50vh;
}

.acc-vertical-scrollbar {
  overflow-y: auto;
  padding-right: 1em;
}

:root {
  --govukBorderColour: #b1b4b6;
  --govukColourBlack: #0b0c0c;
  --govukColourBlue: #005ea5;
}
